*/wp-content/themes/*/node_modules
*/node_modules
*/wp-content/themes/*/library/node_modules
*/wp-content/themes/*/library/scss/node_modules
*/wp-content/themes/*/bower_components
*/wp-content/themes/*/sass-cache
*/wp-content/plugins
*/wp-content/languages
*/wp-content/upgrade
*/wp-content/uploads
*/wp-content/themes/twentyfifteen
*/wp-content/themes/twentyfourteen
*/wp-content/themes/*/twentythirteen
*/wp-content/themes/*/classic
*/wp-content/themes/*/default
*/wp-admin
*/wp-includes
*/wp-snapshots
*/wp-admin/wp-config.php
*/wp-config.php
*/blogs
*/tmp