/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/


.top-social-wrapper {
 height: inherit;
position: relative;
float:none!important;
}
.top-social-in-wrapper {
 display: block;
height: 100%;
width: auto;
max-height: 40px;
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 15px;
padding-top: .2em;
padding-bottom: .2em;
}
.top-top-social-link {
display: inline-block;
height: 100%;
margin-right: 1em;
border-radius: 50%;
padding: .22em;
}
.top-top-social-svg {
display: block;
height: 100%;
fill: whitesmoke;
}
.title-area {
 display:table;
}
#tagline-group {
 display: table-cell;
vertical-align: middle;
text-align:center
}
.top-bar-section ul {
 display: table-cell!important;
vertical-align: middle;
}
.site-description {
 color:black!important;
}
.foot-ul {
list-style-type: none;
overflow: hidden;
margin: 0;
max-width: none!important;
display: -webkit-flexbox;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-align: center;
-ms-flex-align: center;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-between;
}
.footer-column {
text-align: center;
display: inline-flex;
flex-grow: 1;
flex-shrink: 1;
}
#footer .widget {
 width: 100%;
}
.title-area a {
 display: table-cell;
vertical-align: middle;
}
.name {
 display:block!important;
}
.nav-bar-out-wrapper {
 box-shadow: 0px 1px 5px 1px rgb(202, 202, 202);
 padding-left: 1em;
padding-right: 1em;
background-color: whitesmoke;
}

































.top-bar-section ul li>a {
 font-family: 'Lato', sans-serif;
font-size: 1rem;
font-weight: 700;
color:rgb(110, 110, 110)!important;
}
.top-bar-section {
 margin-left:3em;
margin-right: 5em;
}
.stats-block, .wpb_row .wpb_column .wpb_wrapper .stats-block {
 margin-bottom:0px!important;
}
.worker-container {
 text-align:center;
}
.worker-wrapper {
 max-width: 20%;
 float:none!important;
 display:inline-block!important;
 min-width: 18em;
margin-bottom: 1em;
}
.worker-wrapper>.wpb_wrapper {
 border: 1px solid silver;
}
.entry-content {
 border:0;
 box-shadow:none!important;
}
header {
 margin-bottom:0!important;
}
#menu-navbar {
 display: table-cell;
vertical-align: middle;
}
.top-bar-section ul li {
 float:left!important;
 display: inline-table;
}
.entry-content {
 margin-top:0;
}
.title-area {
 margin-right: 3em;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
 box-shadow: inset 0px -3px 0px 0px rgb(95, 122, 171);
 color:black!important;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
 color:black!important;
 box-shadow: inset 0px -3px 0px 0px #5f7aab;
 transition: all .3s ease-in;
}
.top-bar .name h1 a {
 font-size: 1.3rem;
font-weight: 600;
color:black!important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
 background:transparent!important;
}
.top_bar_top {
 background-color:rgba(10, 51, 126, 0.65)!important;
}
/*********************************************************
CODE BELOW HERE SHOULD BE DELETED. JUST HERE TO SHOW WHAT IT'D LOOK LIKE. DELETE WHEN DONE DEVELOPING. 
*********************************************************/
#main {

}
.entry-content {
 padding:0!important;
}
#nav-bar-wrapper {
 height:120px!important;
}
.top-bar {
 height:100%!important;
 background-color:whitesmoke!important;
}
#name {
 display:block!important;
}