/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/

//Top bar
    
    // Top Top bar
.top-social-wrapper {
 height: inherit;
position: relative;
float:none!important;
}
.top-social-in-wrapper {
 display: block;
height: 100%;
width: auto;
max-height: 40px;
position: absolute;
top: 50%;
transform: translateY(-50%);
right: 15px;
padding-top: .2em;
padding-bottom: .2em;
}
.top-top-social-link {
display: inline-block;
height: 100%;
margin-right: 1em;
border-radius: 50%;
padding: .22em;
}
.top-top-social-svg {
display: block;
height: 100%;
fill: whitesmoke;
}
.top_bar_top_container {
background-color: rgba(10, 51, 126, 0.65) !important;
height:30px;
}
#tagline-group {
 display: table-cell;
vertical-align: middle;
text-align:center
}
.top-bar-section ul {
 vertical-align: middle!important;
height: inherit!important;
display: table-cell!important;
}
.site-description {
 color: white!important;
text-shadow: 0 0 .3px black, 0 0 .3px black, 0 0 .3px black, 0 0 .3px black, 0 0 .3px black;
font-weight: 600;
}
#footer .widget {
 width: 100%;
}
.title-area a {
 display: table-cell;
vertical-align: middle;
}
.nav-bar-out-wrapper {
background-color: rgb(95, 122, 171);
z-index:1;
position: relative;
}
.top-bar-section a {
font-weight: 900!important;
color: white!important;
}
.top-bar-section ul li.active > a {
font-weight: 900!important;
}






























.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	color:black!important;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
	color:rgb(52, 52, 52) !important;
	-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.top-bar-section ul li>a {
 font-family: 'Lato', sans-serif;
font-size: 1rem;
}
.top-bar-section {
 display:table!important;
}
.stats-block, .wpb_row .wpb_column .wpb_wrapper .stats-block {
 margin-bottom:0px!important;
}
.entry-content {
 border:0;
 box-shadow:none!important;
}
header {
 margin-bottom:0!important;
}
#menu-navbar {
 display: table-cell;
vertical-align: middle;
}
.top-bar-section ul li {
 float: left!important;
 display: inline-table!important;
 height: auto!important;
}
.entry-content {
 margin-top:0;
}
.title-area {
 padding-right: 5%;
 display:inline-table!important;
}
.top-bar-section ul li > a {
 display: table-cell!important;
vertical-align: middle!important;
}
.top-bar .name, .top-bar .name a  {
 font-size: 1.3rem;
font-weight: 600;
color:black!important;
text-align:center;
}
.top-bar .name {
 height:auto!important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
 background:transparent!important;
 padding:.6em!important;
}
.top-bar-section ul li.active > a {
  color:rgb(52, 52, 52) !important;
}

/*********************************************************
CODE BELOW HERE SHOULD BE DELETED. JUST HERE TO SHOW WHAT IT'D LOOK LIKE. DELETE WHEN DONE DEVELOPING. 
*********************************************************/
#main {

}
.entry-content {
 padding:0!important;
}
#nav-bar-wrapper {
 height:inherit;
}
.top-bar {
 height:inherit!important;
 display:block!important;
 padding-left: 1em;
padding-right: 1em;
}
#name {
 display:block!important;
}
.top_bar_top {
 display:none;
}